.header-bg {
  background: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  padding: 16px 0px;
  font-size: 1.125rem;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a::after {
  content: "";
  width: 0%;
  height: 4px;
  background-color: #ffffff;
  display: block;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    background-color: #111111;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.75rem;
  }
  .header img {
    max-width: 100px;
  }
}
